/* Estilos para el logo */
.waiter-logoburger-img {
    width: 200px;
    height: 200px;
  }
  
  /* Estilos para la barra de navegación */
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #724C11;
    font-weight: bold;
  }
  
  /* Estilos para el botón de logout */
  .waiter-btn {
    background-color: #724C11;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .waiter-btn:hover {
    background-color: #555;
  }

  .wt-main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }

  .wt-products-section{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    height: 500px;
    overflow: auto;
  }

  .wt-products_section__buttons{

  }
  .wt-products-section__button{

  }
  .wt-products-section__content{
    margin-top: 50px;
  }
  .wt-card{

  }
  .wt-order-section{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
  }

  .wt-orders-table__table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .wt-orders-table__heading {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: left;
  }
  
  .wt-orders-table__cell {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    border: 1px solid black;
    text-align: left;
  }
  
  .wt-orders-table__image {
    width: 50px;
    height: 50px;
  }
  
  .wt-orders-table__price {
    margin: 0;
  }
  
  .wt-orders-table__button {
    padding: 5px 10px;
    margin-right: 5px;
  }
  
  .wt-orders-table__row:nth-child(even) {
    background-color: #f9f9f9;
  }
.wt-orders-table__total{

}
.wt-orders-table__submit-button{

}
