#root {
  width: 100%;
  height: 100%;
}
body{
  background-color: #000000;
  padding: 0px;
}
img{/* banner 1 */

  width: 100%;
  }

  .lg-logo{
    width: 512px;
    height: 648px;
    display: flex;
    align-items: center;
  }
.lg-main-conteiner{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0 auto;
  border-radius: 8px;
}


.lg-form-container {
  position: relative;
  width: 512px;
  height: 648px;
 border-radius: 20px;

}

.lg-form-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #D4AF37; /* Color mostaza */
  filter: blur(10px); /* Efecto de desenfoque */
  z-index: -1;
}

.lg-form {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 80%;
  height: 80%;
  max-width: 400px;
}


.lg-form label{
  margin: 10px 0px 10px 0px;
  color:#724C11;
  font-family: Roboto;
  text-align: start;
}
.lg-form input{
  border:none;
  border-radius: 5px;
  height: 50px;
  line-height: normal;
  padding-left: 12px;
  
}
.lg-form h2{
  color:#724C11;
  font-family: Roboto;
}
.lg-form button{
  margin-top: 10px;
  height: 48px;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  font-weight: 700;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  background-color: #724C11;
  color: #fdfffd;
}
@media (max-width: 1133px) and (orientation: portrait) {
  /* Estilos específicos para tablets en posición vertical */
  /* Aquí puedes agregar tus estilos */

}